<!doctype html>
<html lang="ru" xmlns:th="">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<main role="main" class="container">
    <div class="starter-template">
        <h1>Страница заказов</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
</main><!-- /.container -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>