<nav th:fragment="nav" class="col-md-2 d-none d-md-block bg-light sidebar" xmlns:th="">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/admin}">
                    <span data-feather="home"></span>
                    Главная <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/orders}">
                    <span data-feather="file"></span>
                    Заказы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/bids}">
                    <span data-feather="shopping-cart"></span>
                    Заявки
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/buyers}">
                    <span data-feather="users"></span>
                    Покупатели
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/sellers}">
                    <span data-feather="bar-chart-2"></span>
                    Продавцы
                </a>
            </li>
        </ul>
    </div>
</nav>
