<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/saveDataUser}" method="post" >
    <div class="container">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#">Заказы</a></li>
                <li><a href="#">Заявки</a></li>
                <li><a href="#">История</a></li>
                <li><a href="#">Данные</a></li>
            </ul>
        </div>
        <table id="MyTable" class="table">
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Название организации</td>
                <td><input th:name="organisation" type="text" placeholder="Заполнить поле"></td>
            </tr>
            <tr>
                <td>ИНН</td>
                <td><input th:name="inn"  type="text" placeholder="Заполнить поле"></td>
            </tr>
            <tr>
                <td>Адрес доставки</td>
                <td><input th:name="address" type="text" placeholder="Заполнить поле"></td>
            </tr>

            </tbody>
        </table>
        <form th:action="@{/changePassword}" method="post" >
            <button type="submit">Сменить пароль</button>
        </form>
        <button type="button" onclick="addRow('MyTable')">Добавить адрес</button>
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>

<script type="text/javascript">
    function addRow(id){
        var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
        var row = document.createElement("TR")
        var td1 = document.createElement("TD")
        td1.appendChild(document.createTextNode("Адрес доставки"))
        var td2 = document.createElement("TD")
        var myInput=document.createElement('input')
        myInput.placeholder="Заполнить поле"
        myInput.type="text"
        td2.appendChild (myInput)
        row.appendChild(td1);
        row.appendChild(td2);
        tbody.appendChild(row);
    }
</script>


</html>