
<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="seller/fragments/head :: head"></head>
<body>
<nav th:replace="admin/fragments/navup :: nav"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="seller/fragments/navleft :: nav"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <form th:action="@{/seller/saveDataUser}" method="get" >
                <div class="container">
                    <table id="MyTable" class="table">
                        <thead>
                        <tr>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Название организации</td>
                            <td><input th:name="nameOfOrganisation" type="text" th:value="${buyerData.getNameOfOrganisation()}"></td>
                        </tr>
                        <tr>
                            <td>ИНН</td>
                            <td><input th:name="inn"  type="text" th:value="${buyerData.getInn()}"></td>
                        </tr>

                        <tr th:each="address: ${buyerData.getAddress()}">
                            <td>Адрес доставки</td>
                            <td><input th:name="address" type="text" th:value="${address}"></td>
                        </tr>

                        </tbody>
                    </table>
                    <form th:action="@{/changePassword}" method="post" >
                        <button type="submit">Сменить пароль</button>
                    </form>
                    <button type="button" onclick="addRow('MyTable')">Добавить адрес</button>
                    <button type="submit">Сохранить</button>
                </div>
            </form>

        </main>
    </div>
</div>
<footer th:replace="admin/fragments/footer :: footer"></footer>

<script type="text/javascript">
    function addRow(id) {
        var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
        var row = document.createElement("TR")
        var td1 = document.createElement("TD")
        td1.appendChild(document.createTextNode("Адрес доставки"))
        var td2 = document.createElement("TD")
        var myInput = document.createElement('input')
        myInput.name="address"
        myInput.type = "text"

        td2.appendChild(myInput)
        row.appendChild(td1);
        row.appendChild(td2);
        tbody.appendChild(row);
    }
</script>

</body>
</html>