
<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="seller/fragments/head :: head"></head>
<body>
<nav th:replace="admin/fragments/navup :: nav"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="seller/fragments/navleft :: nav"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">
                <form th:action="@{/seller/listOfOrders}" method="get" >
                    <div class="form-group">
                        <label for="usr">С даты</label>
                        <input th:name="dateFrom" type="date" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        <label for="pwd">По дату</label>
                        <input th:name="dateTo" type="date" class="form-control" id="pwd">
                    </div>
                    <button type="submit">Поиск заказов</button>
                </form>

                <h2>Заказы</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <td>№ Заказа</td>
                        <td>Время заказа</td>
                        <td>Заказчик</td>
                        <td>Адрес заказа</td>
                        <td>Сумма заказа</td>
                        <td>Статус</td>
                    </tr>
                    </thead>
                    <tbody id="myTable">

                    <tr th:each="order: ${sellerOrders}">
                        <td th:text="${order.getNumberOfOrder()}"/>
                        <td th:text="${order.getDate()}"/>
                        <td th:text="${order.getBuyer()}"/>
                        <td th:text="${order.getAddress()}"/>
                        <td th:text="${order.getSum()}"/>
                        <td th:text="${order.getStatus()}"/>
                    </tr>

                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>
<footer th:replace="admin/fragments/footer :: footer"></footer>



</body>
</html>