
<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="seller/fragments/head :: head"></head>
<body>
<nav th:replace="admin/fragments/navup :: nav"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="seller/fragments/navleft :: nav"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">
                <br>
                <button id="addProducts" type="submit">Добавить товары</button>
                <br>
                <h2>Товары</h2>
                <br>
                <div class="container">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Товар</td>
                            <td>Магнит</td>
                            <td>Бахетле</td>
                            <td>Розница</td>
                            <td>Остаток</td>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr >
                            <td>Травка</td>
                            <td>100</td>
                            <td> 150</td>
                            <td>200</td>
                            <td>три куста</td>
                        </tr>
                        <tr >
                            <td>Водка</td>
                            <td>290</td>
                            <td >350</td>
                            <td>550</td>
                            <td>ящик</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
    </div>
</div>
<footer th:replace="admin/fragments/footer :: footer"></footer>



</body>
</html>