<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#">Товары</a></li>
                <li><a href="#">Заказы</a></li>
                <li><a href="#">Покупатели</a></li>
                <li><a href="#">Данные</a></li>
            </ul>
        </div>


        <form th:action="@{/listOfOrders}" method="post" >
        <div class="form-group">
            <label for="usr">С даты</label>
            <input type="date" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">По дату</label>
            <input type="date" class="form-control" id="pwd">
        </div>
            <button type="submit">Поиск заказов</button>
        </form>
        <h2>Заказы</h2>
        <table class="table">
            <thead>
            <tr>
                <td>№ Заказа</td>
                <td>Время заказа</td>
                <td>Заказчик</td>
                <td>Адрес заказа</td>
                <td>Сумма заказа</td>
                <td>Статус</td>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr >
                <td>123</td>
                <td>Ромашка</td>
                <td >Люберцы</td>
                <td id="date1" type="date">24.11.2017</td>
                <td>5000</td>
                <td>Получен</td>
            </tr>
            <tr >
                <td>143</td>
                <td>Василек</td>
                <td >Москва</td>
                <td id="date2" type="date">24.11.2017</td>
                <td>3000</td>
                <td>В работе</td>
            </tr>
            </tbody>
        </table>
    </div>


</body>

</html>