<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>

<div class="container">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#">Товары</a></li>
            <li><a href="#">Заказы</a></li>
            <li><a href="#">Покупатели</a></li>
            <li><a href="#">Данные</a></li>
        </ul>
    </div>
<br>
       <button id="addProducts" type="submit">Добавить товары</button>
    <br>
    <h2>Товары</h2>
    <br>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <td>Товар</td>
                <td>Магнит</td>
                <td>Бахетле</td>
                <td>Розница</td>
                <td>Остаток</td>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr >
                <td>Травка</td>
                <td>100</td>
                <td> 150</td>
                <td>200</td>
                <td>три куста</td>
            </tr>
            <tr >
                <td>Водка</td>
                <td>290</td>
                <td >350</td>
                <td>550</td>
                <td>ящик</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

</body>


</html>