<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="buyer/fragments/head :: head"></head>
<body>
<nav th:replace="admin/fragments/navup :: nav"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="buyer/fragments/navleft :: nav"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">


                <h2>Заказы</h2>
                <form th:action="@{/buyer/takeDataOfOrder}" method="get">
                    <div class="inline">
                        <select th:name="seller">
                            <option disabled selected>Поставщик</option>
                            <option th:each="seller : ${sellers.getSellers()}" th:value="${seller}" th:text="${seller}">
                            </option>
                        </select>
                        <select th:name="address">
                            <option disabled selected>Адрес доставки</option>
                            <option th:each="address : ${addresses.getAddresses()}" th:value="${address}"
                                    th:text="${address}">
                            </option>
                        </select>
                        <input th:name="date" type="date">
                        <br>
                        <button type="submit">Выбрать</button>
                        <br>
                    </div>
                </form>
                <br>
                <form th:action="@{/buyer/makeOrder}" method="get">
                    <button type="submit">Отправить заказ</button>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Максимальное количество</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr th:each="order: ${listOfOrders.getOrders()}">
                            <td th:name="name" th:text="${order.getName()}"/>
                            <td th:name="price" th:text="${order.getPrice()}"/>
                            <td><input th:name="amount" th:value="${order.getAmount()}"></td>
                            <td th:name="maxAmount" th:text="${order.getMaxAmount()}"/>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </main>
    </div>
</div>
<footer th:replace="admin/fragments/footer :: footer"></footer>


</body>
</html>