
<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body>
<nav th:replace="admin/fragments/navup :: nav"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="admin/fragments/navleft :: nav"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <form th:action="@{/admin/sellers/createUser}" method="get" >
                <div class="container">
                    <table id="MyTable" class="table">
                        <tbody>
                        <tr>
                            <td>Логин</td>
                            <td><input th:name="login" type="text" placeholder="Заполнить поле"></td>
                        </tr>

                        <tr>
                            <td>Email</td>
                            <td><input th:name="email" type="email" placeholder="Заполнить поле"></td>
                        </tr>
                        <tr>
                            <td>Название организации</td>
                            <td><input th:name="fullName" type="text" placeholder="Заполнить поле" ></td>
                        </tr>
                        <tr>
                            <td>ИНН</td>
                            <td><input th:name="inn"  type="text" placeholder="Заполнить поле"></td>
                        </tr>
                        <tr>
                            <td>Адрес доставки</td>
                            <td><input th:name="address" type="text" placeholder="Заполнить поле"></td>
                        </tr>
                        <tr>
                            <td>Тип организации</td>
                            <td><select th:name="type" class="form-control">
                                <option>Покупатель</option>
                                <option>Продавец</option>
                            </select></td>
                        </tr>

                        </tbody>
                    </table>
                    <button type="submit">Сохранить изменения</button>
                </div>
            </form>


        </main>
    </div>
</div>
<footer th:replace="admin/fragments/footer :: footer"></footer>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>

<script type="text/javascript">
    function deleteRow(r)
    {
        var i=r.parentNode.parentNode.rowIndex;
        document.getElementById('myTable').deleteRow(i);
    }
</script>

</body>
</html>